.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.gridContainer {
    margin-left: 20px;
    display: grid;
    max-width: 450px;
    grid-template-columns: 1fr 2fr;
    row-gap: 10px;
    column-gap: 20px;
}

.title {
    grid-column: span 2;

}

.header {
    font-weight: 600;
}

.text {
    font-weight: 600;
    color: #777777
}