body {
  font-family: sans-serif;
  margin: 0;
  color: #444444
}

.content {
  max-width: 960px;
  margin: 0 auto;
}

.tableContainer {
  display: flex;
  justify-content: center;
}

table th {
  padding-bottom: 10px;
  cursor: pointer;
  font-weight: normal;
}

table td {
  padding: 5px 30px;
}

nav {
  padding: 20px 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background: #ededed;
}

nav a {
  margin-left: 12px;
}

nav h1 {
  margin-right: auto;
  color: #777777;
}

a:visited {
  color: #6600cc;
}

a:link {
  color: #0011bb;
}

nav .logo {
  margin-right: auto;
}

.not-found {
  text-align: center;
}

.not-found a {
  text-decoration: underline;
}